footer > p {
    padding-left: 2em;
}
#firebaselogo {
    height: 5em;
}
#gtmlogo{
    height: 5em;
}
.media {
    padding: 1em;
    margin: 1em;
    border: 2px rgb(90, 90, 90) solid;
}
.media > img {
    width: 15em;
    border: 1px black solid;
}
.projectstyle img {
    width: 15em;
    border: 1px black solid;
    margin-bottom: 1em;
}
.projectstyle .row:not(:first-of-type) {
    margin: 2em;
    border: 2px rgb(90, 90, 90) solid;
    padding: 2em;
}

.custom-block {
    background-color: rgb(0, 39, 167);
    margin: 2px;
    padding: 2px;
}
.footer {
    background-color: rgb(0, 39, 167);
}

.btn-info {
    background-color: rgb(0, 39, 167);
}
.jumbotron {
    background-attachment: fixed;
    /* background-repeat: no-repeat;; */
}